body{
    font-family: Arial;
     
}
.todo-grid,.todo-input-grid{
    display: grid;
    grid-template-columns:16em  10em  6em;
    column-gap: 2rem;
    row-gap: 2em;
    
}
.todo-input-grid{
    margin-bottom: 2rem;
}
.js-name-input,.js-date-input{
    font-size: 15px;
    padding:6px;
    outline: none;
}

button{
    padding: 6px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    background-color:green;
    border: none;
    border-radius: 10px;
}
.delete{
    background-color:darkred;
}